name: production

on:
  push:
    tags:
    - 'v*'

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest

    - name: Install Dependencies
      run: bun install

    - name: Build
      run: bun run build

  build-and-push:
    runs-on: ubuntu-latest
    needs: ci

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Extract tag version
      id: tag
      run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ secrets.GH_USERNAME }}
        password: ${{ secrets.GH_PAT }}

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        platforms: linux/amd64
        push: true
        tags: |
          ghcr.io/malika-ai/${{ github.event.repository.name }}:${{ steps.tag.outputs.VERSION }}
          ghcr.io/malika-ai/${{ github.event.repository.name }}:latest

  redeploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Trigger Dokploy App Compose
      id: dokploy_deploy
      run: |
        echo "Triggering deployment to Dokploy with compose ID: ${{ secrets.DOKPLOY_COMPOSE_ID }}"

        DEPLOY_RESPONSE=$(curl -s -w "\nHTTP_STATUS:%{http_code}\n" -X 'POST' \
          'https://admin.shutd.one/api/compose.deploy' \
          -H 'accept: application/json' \
          -H 'x-api-key: malika-ai-ezzWoRmmvIQwljhNfsjwAusUqglIhAeDLLlLUCGTlEPoMpFeelWpGFbdGudtGbIo' \
          -H 'Content-Type: application/json' \
          -d '{"composeId": "${{ secrets.DOKPLOY_COMPOSE_ID }}"}')

        echo "Deploy response:"
        echo "$DEPLOY_RESPONSE" | sed '/HTTP_STATUS:/d'

        DEPLOY_STATUS=$(echo "$DEPLOY_RESPONSE" | grep HTTP_STATUS | cut -d':' -f2)
        
        if [ "$DEPLOY_STATUS" = "200" ]; then
          echo "✅ Deployment triggered successfully on Dokploy."
        else
          echo "❌ Failed to trigger Dokploy deploy. Status: $DEPLOY_STATUS"
          exit 1
        fi
    
